<div id="<%= dom_id announcement %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= announcement.title %>
  </div>
  
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= announcement.content %>
  </div>
  
  <div>
    <strong class="block font-medium mb-1">Posted on:</strong>
    <%= announcement.posted_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= announcement.created_by %>
  </div>
</div>
